<div class="container">
    <div class="element">
        <div class="logo-container">
            <img class="logo" src="../../../assets/baptist health south florida logo.png">
        </div>
        <div>
            <h1><a class="text-ash large-text">Thank you...</a></h1>
            <div>
                <p class="text-ash description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting<br>
                    industry. Lorem Ipsum has been the industry's standard dummy text<br>
                    ever since the 1500s,
                </p>
                <br>
            </div>
        </div>
        <div class="button-container">
        <a routerLink="/" class="button" >Add Another Testimonial</a>
    </div>
    </div>
</div>