<div class="container">
    <div class="element">
        <div class="center-square">
            <div class="square ">
                
                <div class="video-type-button-container">
                    
                    <div routerLink="/add/upload">

                        <label for="file-upload" class="custom-file-upload" >
                            Upload Video
                        </label>
                        <input id="file-upload" type="file" (change)="onChange($event)"/>

                    </div>
                </div>
            </div>
            <div class="button-container">
                <a routerLink="/add/selectvideotype" class="button back-button">Back</a>
                <a routerLink="/add/publish" class="button" (click)="onUpload()">Next</a>
            </div>
        </div>
    </div>
</div>



















<!-- <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)">

    <button (click)="onUpload()" class="btn btn-success">
        Upload
    </button>
</div>

<div class="container text-center jumbotron" *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>

<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>
<a routerLink="/add/selectvideotype" class="button">Back</a> -->