<div class="container">
    <div class="element">
        <div class="center-square">
            <div class="square ">
                <div class="video-type-button-container">
                    <div routerLink="/add/upload">
                        <a class="green-button">
                            Upload Video
                        </a>
                    </div>
                    <a class="text-ash">
                    or
                    </a>
                    <div routerLink="/add/record">
                        <a class="green-button">
                            Record Video
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a routerLink="/add/selectmediatype" class="button back-button">Back</a>
            <a routerLink="/add/upload" class="button" >Next</a>
        </div>

    </div>
</div>