<div class="container">
    <div class="element">
        <div class="logo-container">
            <img class="logo" src="../../../assets/baptist health south florida logo.png">
        </div>
        <div>
            <h1><a class="text-ash">Your opinion </a><a>means the world </a><a class="text-green">to us</a></h1>
            <div>
                <p>
                    We would greatly appreciate if you could give us your<br> 
                    valuable feedback on our services rendered to you <br> 
                    on your recent visit to Baptist health
                </p>
                <br>
            </div>
        </div>
        <div class="button-container">
        <a routerLink="/add" class="button" >Add Your Testimonial</a>
    </div>
    </div>
</div>