<!-- <video id="video_{{idx}}" class="video-js vjs-default-skin" playsinline></video> -->
<div class="container">
    <div class="element">
        <div>
            <div id="startButton" class="button" (click)="startButton()">
                Start
            </div>

            <video id="camVideo" autoplay></video>

            <div id="stopButton" class="button" (click)="stopButton()">
                Stop
            </div>

            <video id="PrevVideo" [src]="prevURL" autoplay></video>

            <a id="downloadButton" class="button">
                Download
            </a>
        </div>
        <br />
        <br />
        <br />

        <div class="button-container">
            <a routerLink="/type" class="button">Back</a>
            <a routerLink="/upload" class="button">Next</a>
        </div>

    </div>
</div>