.container {
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: auto;
    
  }
  
  .element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
  }

  .add-content-sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
  }
  .nav-tab{
    padding: 2px 5px;
    width: 150px;
  }

  .nav-tab-text{
    display: flex;
    padding: 2px 20px;
    font-style: normal;
    font-weight: 500;
  }

  .active{
    color:#006A50;
  }

 hr.line {
    display: flex;
    border: 1px solid #000000;
    background:#000000;
  }
  