<div class="container">
    <div class="element">
        <div>
            <p> Hope you are keeping well,Please check details below</p>

            <div>
                <a class="bold-text">
                    Please give us your valued consent for publishing in our mediums
                </a>
                <!--dynamic dropdown-->
                <div>
                    <!--dynamic checkboxes-->
                    <br>
                    <div>
                        <div class="verticle_page-section">
                            <div class="page-toggle">
                                <label class="toggle">
                                    <input class="toggle-input" type="checkbox">
                                    <span class="toggle-label">
                                        <span class="toggle-text">For Web Marketing (Website)</span>
                                    </span>
                                </label>
                            </div>
    
                            <div class="page-toggle">
                                <label class="toggle">
                                    <input class="toggle-input" type="checkbox">
                                    <span class="toggle-label">
                                        <span class="toggle-text">For Mobile Marketing (Mobile App)</span>
                                    </span>
                                </label>
                            </div>
    
                            <div class="page-toggle">
                                <label class="toggle">
                                    <input class="toggle-input" type="checkbox">
                                    <span class="toggle-label">
                                        <span class="toggle-text">For Digital Marketing (Digital Signage Board/s)</span>
                                    </span>
                                </label>
                            </div>
    
                            <div class="page-toggle">
                                <label class="toggle">
                                    <input class="toggle-input" type="checkbox">
                                    <span class="toggle-label">
                                        <span class="toggle-text">Do not publish to any of the above mediums</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
            </div>
            <br>
            <br>
            <div>
                <a class="bold-text">
                    Publish consent as
                </a>
                <!--dynamic checkboxes-->
                <br>
                <div>
                    <div class="page-section">
                        <div class="page-toggle">
                            <label class="toggle">
                                <input class="toggle-input" type="checkbox">
                                <span class="toggle-label">
                                    <span class="toggle-text">John</span>
                                </span>
                            </label>
                        </div>

                        <div class="page-toggle">
                            <label class="toggle">
                                <input class="toggle-input" type="checkbox">
                                <span class="toggle-label">
                                    <span class="toggle-text">Anonymous</span>
                                </span>
                            </label>
                        </div>
                    </div>    
                        
                    <div class="page-section-no-margin">
                        <div class="page-toggle">
                            <label class="toggle">
                                <input class="toggle-input" type="checkbox">
                                <span class="toggle-label">
                                    <span class="toggle-text">I agree to Baptist Health Terms&Conditions</span>
                                </span>
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <router-outlet></router-outlet>
        <div class="button-container">
            <a routerLink="/add/selectvideotype" class="button back-button">Back</a>
            <a routerLink="/thankyou" class="button">Next</a>
        </div>
    </div>
</div>