<div class="container">
    <div class="element">
        <div>
            <div>
                <div>

                    select type

                    <div>
                        Please select testimonial types
                        <div>
                            video
                        </div>
                        <div>
                            Text
                        </div>
                    </div>



                </div>
                <div class="button-container">
                    <a routerLink="/add" class="button">Back</a>
                    <a routerLink="/record" class="button">Next</a>
                </div>
            </div>
        </div>

    </div>
</div>