.container {
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: auto;
    font-family: Verdana, sans-serif;
  }
  
  .element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: azure;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding: 10px 40px;
  }
  
  .button {
    position: relative;
    background-color: #000000;
    border: none;
    font-size: 15px;
    color: #ffffff;
    padding: 10px;
    margin: 4px 2px;
    width: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
  }

  .back-button{
    background-color: #718096;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 100%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  
  .text-ash{
      color: #718096;
  }
  
  .text-green{
      color: #006A50;
  }