/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "inter";
    src: local("inter"), url(./assets/fonts/Inter-Light.ttf) format("truetype");
}

* {
    font-family: "inter";
  }

  .bold-text{
    font-style: normal;
    font-weight: 500;
  }

  .large-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 30px;
  }

  .logo-container-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 10px 40px;
  }
  
  .logo {
    position: static;
    width: 230px;
    height: 63px;
    left: 273.5px;
    top: 0px;
  }